In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/Datasets
%ls
# df=pd.read_csv('cwurData.csv')

Mounted at /gdrive
/gdrive/MyDrive/Datasets
cwurData.csv  DS1.xlsx

In [ ]:
%ls

cwurData.csv  DS1.xlsx

In [ ]:
df=pd.read_excel('DS1.xlsx')

In [ ]:
df

   Sr No.   Name   Id  Subject  Marks  Number
0       1   Rajiv  146      EG     89    10.0
1       2  Jinish  153      EG     92     NaN
2       3  Taukir  134      EG     95     2.0
3       4   Parth   98      EG     88     NaN
4       5  Poojan  153      EG     91     3.0

In [ ]:
# df1=df.drop([1,2],inplace=False)
df1=df.drop([2,4],inplace=False)

In [ ]:
df1.head()

   Sr No.   Name   Id  Subject  Marks  Number
0       1   Rajiv  146      EG     89    10.0
2       3  Taukir  134      EG     95     2.0
4       5  Poojan  153      EG     91     3.0

In [ ]:
df2=df.fillna(df.mean(), inplace=False, axis=0)
df3=df.fillna(df.median(), inplace=False)
df4=df.fillna(df.mode(),inplace=False,axis=0)
df2
# df3
# df4

   Sr No.   Name   Id  Subject  Marks  Number
0       1   Rajiv  146      EG     89    10.0
1       2  Jinish  153      EG     92     5.0
2       3  Taukir  134      EG     95     2.0
3       4   Parth   98      EG     88     5.0
4       5  Poojan  153      EG     91     3.0

In [ ]:
df2=df.corr()
df2

          Sr No.       Id      Marks    Number
Sr No.  1.000000 -0.281403  0.000000 -0.802955
Id     -0.281403  1.000000  0.408152  0.262625
Marks   0.000000  0.408152  1.000000 -0.826033
Number -0.802955  0.262625 -0.826033  1.000000